<svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        preserveAspectRatio="none"
        viewBox="0 0 100 100"
        class="headerShapeDivider"
>
    <defs>
        <path id="areaA-definition" d="
            M 0 100
            V 50
            C 8 32 14 22 19 21
            C 30 18 48 59 65 56
            C 80 54 92 35 100 0
            V 100
            "></path>
        <path id="areaB-definition" d="
            M 0 100
            V 68
            C 14 39 25 25 31 25
            C 46 26 47 48 65 44
            C 77 41 90 34 100 18
            V 100
            "></path>
        <path id="areaC-definition" d="
            M 0 100
            C 12 40 21 8 35 11
            C 48 14 72 48 79 54
            C 87 60 96 54 100 52
            V 100
            "></path>
        <path id="overlap-definition" d="
            M 0,100
            C 4.5535681,77.232159 8.6760028,58.507302 12.802734,44.185547
            C 19.217072,33.746375 24.557462,27.608473 28.488281,25.675781
            C 38.980486,35.823941 52.270327,58.246413 65,56
            C 68.894757,55.480699 72.585852,53.805739 76.058594,51.011719
            C 77.212366,52.282377 78.224994,53.335709 79,54
            C 87 60 96 54 100 52
            V 100
            "></path>
    </defs>
    <g>
        <use class="area transparentArea areaA" xlink:href="#areaA-definition" opacity="1" fill="#4fd7bb" fill-opacity="0.62" stroke="black" stroke-width="1"></use>
        <use class="area transparentArea areaB" xlink:href="#areaB-definition" opacity="1" fill="#d74f4f" fill-opacity="0.33" stroke="black" stroke-width="1"></use>
        <use class="area transparentArea areaC" xlink:href="#areaC-definition" opacity="1" fill="#a5d74f" fill-opacity="0.3" stroke="black" stroke-width="1"></use>
        <use class="area areaOverlap" xlink:href="#overlap-definition" opacity="1" fill="#ffe0f0" fill-opacity="0.5" stroke="blue" stroke-width="1"></use>
    </g>
</svg>
