@import "colors";

footer
{
    background-image: $mainBackgroundGradient;
    color: $lightColor;
    padding-top: 50px;
    border-top: 5px solid #ce77bc;

    a
    {
        color: $contrast1;

        &:hover
        {
            color: lighten( $contrast1, 20% )
        }
    }
}
