<div class="cm_shareGroup">
    <h3 class="cm_shareLabel">Comparteix, please ❤️❤️❤️!</h3>
    <ul>
        <li>
            <a href="https://wa.me/?text={{ page.share.text | url_encode }}%20{{ page.share.link }}" data-action="share/whatsapp/share" target="_blank" class="linkedin" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="WhatsApp">
                <button type="button" class="btn btn-outline-dark">
                    <div class="cm_shareIconWrapper">
                        <img src="https://www.cugat.cat/images/social/linkedin.png">
                    </div>
                    <div class="cm_shareButtonText">
                        WA
                    </div>
                </button>
            </a>
        </li>
        <li>
            <a href="https://telegram.me/share/url?url={{ page.share.link }}&amp;text={{ page.share.text | url_encode }}" target="_blank" class="telegram" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Telegram">
                <button type="button" class="btn btn-outline-dark">
                    <div class="cm_shareIconWrapper">
                        <img src="https://www.cugat.cat/images/social/telegram.png">
                    </div>
                    <div class="cm_shareButtonText">
                        TG
                    </div>
                </button>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/share?url={{ page.share.link }}&amp;text={{ page.share.text | url_encode }}&amp;via={{ page.share.via }}" target="_blank" class="twitter" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Twitter">
                <button type="button" class="btn btn-outline-dark">
                    <div class="cm_shareIconWrapper">
                        <img src="https://www.cugat.cat/images/social/twitter.png">
                    </div>
                    <div class="cm_shareButtonText">
                        TW
                    </div>
                </button>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.coronamaze.org/ca/" target="_blank" class="facebook" data-placement="bottom" data-toggle="tooltip" title="Facebook" data-original-title="Facebook">
                <button type="button" class="btn btn-outline-dark">
                    <div class="cm_shareIconWrapper">
                        <img src="https://www.cugat.cat/images/social/facebook.png">
                    </div>
                    <div class="cm_shareButtonText">
                        FB
                    </div>
                </button>
            </a>
        </li>
    </ul>
</div>
