---
layout: base
# Icons: https://emojipedia.org/
---
{% assign index = site.data.special.ca-1-sant-jordi.index %}
<div class="container">
    <div class="cm_main">
        <h1>Entreteniment familiar 🐲 per un 🛡️ Sant Jordi 🌹 confinat</h1>
        <div>
            El Guifré, la Montserrat i el Jacint es colen a la <b>llegenda de Sant Jordi</b> capgirant tota la història. Res no és el que sembla...
            Ni Sant Jordi🗡️, ni la princesa👸, ni el drac 🐉, ni el rei👑, ni els ciutadans😀 viuran la llegenda com la coneixes!
            <div class="question">Podràs descobrir quina és la nova història?</div>
        </div>
        <div class="cm_special_mention">
            Menció especial al
            <a href="https://gremidellibreters.cat/" target="_blank"><strong>Gremi de 📗Llibreters📗 de Catalunya</strong></a>
            i al
            <a href="https://floristes.cat/" target="_blank"><strong>Gremi de 🌼Floristes🌼 de Catalunya</strong></a>
            que feu possible que cada any, aquesta sigui la festa del nostre poble. ❤️❤️❤️
        </div>
        <div>
            Edició especial amb un <strong>super-mega-puzzle</strong> al nivell 3 pels més agosarats.
        </div>
    </div>
</div>
<div class="cm_greenBlock">
    <div class="container">
        <h2>Selecciona nivell</h2>
        <div>
            <br/>
            Nivells 1 i 2 estaran disponibles pròximament!
            <br/>
            &nbsp;
        </div>
        <div class="cm_age-options">
            <!--        <div><a href="guifre-montserrat-jacint-llegenda-sant-jordi-2020/nivell-1">Nivell 1 (de 6 a 10 anys)</a></div>-->
            <!--        <div><a href="guifre-montserrat-jacint-llegenda-sant-jordi-2020/nivell-2">Nivell 2 (d'11 a 14 anys)</a></div>-->
            <div class="cm_age-option row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <a href="/ca/especial/1/guifre-montserrat-jacint-llegenda-sant-jordi-2020/nivell-3" class="btn btn-primary cm_button">Nivell 3&nbsp;&nbsp;&#x25b6;<br><small>de 15 anys i fins a adults</small></a>
                </div>
            </div>
        </div>
        {% include special/ca-1-sant-jordi-share.html %}
    </div>
</div>
