---
layout: base
# Icons: https://emojipedia.org/
---
{% assign puzzle = site.data.special.ca-1-sant-jordi.puzzles[ "difficult" ] %}
<div class="container">
    <div class="cm_main">
        <h1>Entreteniment familiar 🐲 per un 🛡️ Sant Jordi 🌹 confinat</h1>
        <h2>Nivell: De 15 anys fins a adults</h2>
    </div>
    {% include special/ca-1-sant-jordi-share.html %}
    <p>Comparteix <b>abans</b> de començar el puzzle, que t'hi tiraràs una bona estona i és un temps preciós perquè els teus amics també el facin!</p>
    <p>Els més competitius podeu veure qui tarda menys!</p>
</div>

<div class="container">
    <section id="cm_puzzle">
        <div class="cm_puzzleSection cm_history">
            <div class="cm_title">
                <h2>La llegenda es veu alterada</h2>
            </div>
            <div class="cm_text">
                <p>La Montserrat, el Guifré i el Jacint <strong>s’han colat</strong> a la llegenda de Sant Jordi🗡️🌹👸 i n’han canviat tota la història📗 que coneixies, fent-ne una de nova i esperem que divertida!</p>
                <p>Com que és <strong>època de Jocs Florals🌺,</strong> no jugarem només amb les matemàtiques aquesta vegada sino que també ho farem amb la lingüística. Hauràs de <strong>construir les frases📜</strong> a partir dels seus elements gramaticals.</p>
                <p>Per exemple a la frase <i>"Sant Jordi va clavar a la vila de Montblanc una llarga espasa al monstruós drac.”</i> tenim el següent:</p>
                <ul>
                    <li><b>Subjecte (qui fa l’acció):</b> Sant Jordi</li>
                    <li><b>Verb (l’acció en si mateixa):</b> Va clavar</li>
                    <li><b>Complement circumstancial (com indica el seu nom, explica una circumstància de l’acció):</b> En aquest cas “a la vila de Montblanc” indica a quin poble Sant jordi va clavar l'espasa al drac.</li>
                    <li><b>Complement Directe (l’objecte principal de l’acció del verb):</b> Una llarga espasa, del qual “espasa” n’és el nucli i “llarga” és l’atribut que complementa a espasa.</li>
                    <li><b>Complement Indirecte (a qui va adreçada l’acció del verb):</b> Al monstruós drac, del qual “drac” n’és el nucli i “monstruós” un atribut del drac.</li>
                </ul>
            </div>
            <div class="cm_relations">
                No hi ha cap element que es repeteixi, excepte els personatges que tots ells fan accions i reben accions dels altres. Però cada personatge només fa una acció i només rep una acció. I tothom fa les coses als altres, mai ningú es fa res a sí mateix.
            </div>
            <div class="cm_note">
                <h3>Apunt lingüístic💬</h3>
                <p>Com que algun dels complements directes té un parell d’atributs, ens hem permès la llicència d’annexar-ne un d’ells al nucli per fer-ho tot més fàcil.</p>
                <p>Per exemple a la frase “El pere menja una gran truita de patates” encara que estrictament parlant el nucli lingüístic del complement directe seria el nom “truita” i els complements al nom serien “gran” i “de patates”, de cara al joc aquest exemple el posariem com que el nucli és directament “truita de patates” i l’atribut del nucli “gran”. Així serà més fàcil resoldre, a la vegada que ens permet fer jocs mentals avançats amb subgrups perifràstics a la nostra llengua.</p>
            </div>
            <div class="cm_questions">
                <ul>
                    <li>Podries dir com eren les persones a qui se’ls hi dona alguna cosa vívida?</li>
                    <li>I sabries dir com era la cosa que se li dona a la gent que té un somriure als llavis?</li>
                    <li>Pots deduir a qui va adreçada la cosa digna dels Jocs Florals?</li>
                    <li>Qui porta una barretina al cap?</li>
                </ul>
                Per repondre aquestes i moltes més preguntes t’aniria bé trobar les 10 frases que composen la nova historia de Sant Jordi. Utilitza la graella amb pistes pre-emplenades per ajudar-te.
            </div>
        </div>
        <div class="cm_puzzleSection cm_keywords">
            <div class="cm_title">
                <h2>Paraules clau</h2>
            </div>
            {% assign elements = site.data.special.ca-1-sant-jordi.puzzles[ "difficult" ].puzzle.elements %}
            <ul>
                {% for element in elements %}
                <li><b>{{ element.name }}:</b> {{ element.items }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="cm_puzzleSection cm_clues">
            <div class="cm_title">
                <h2>Pistes</h2>
            </div>
            {% assign clues = site.data.special.ca-1-sant-jordi.puzzles[ "difficult" ].puzzle.clues %}
            <ol class="cm_cluesList">
                {% for clue in clues %}
                <li>{{ clue }}</li>
                {% endfor %}
            </ol>
        </div>
    </section>
</div>

<div class="cm_greenBlock">
    <div class="container">
        <h2>Graella d'ajuda</h2>
        Mou horitzontalment la taula per veure tot el contingut.

        <!-- https://getbootstrap.com/docs/4.4/content/tables/#always-responsive -->
        <div class="table-responsive">
            <table class="table cm_helper">
                <thead>
                <tr>
                    <th>Subjecte</th>
                    <th>Verb</th>
                    <th>Comp. Circumstancial</th>
                    <th>Comp. Directe (Nucli)</th>
                    <th>Comp. Directe (Atribut)</th>
                    <th>Comp. Indirecte (Nucli)</th>
                    <th>Comp. Indirecte (Atribut)</th>
                </tr>
                </thead>
                <tr>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>Escates de drac</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>La princesa</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>Somriure als llavis</td>
                </tr>
                <tr>
                    <td>?</td>
                    <td>Dedicar</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>Imponent</td>
                    <td>?</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>El Guifré</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>?</td>
                    <td>?</td>
                    <td>Davant de tothom</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>Sant Jordi</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>?</td>
                    <td>?</td>
                    <td>Amb una barretina al cap</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>?</td>
                    <td>Inútil</td>
                </tr>
            </table>
        </div>
        PD: Publicarem les solucions d'aquí a uns dies!
        {% include special/ca-1-sant-jordi-share.html %}
    </div>
</div>
